.video-wrapper
  .video-header
    動画URL一覧
  .video-body
    -# = @videos.each do |video|
    .user-icon
      link_to user_path(current_user), class: "btn" do
      image_tag video.user.image, class: "user-image"
    %table.video-body__table
      %tr.video-body__table-user
        %th
          nickname :
        %td
          video.user.nickname
      %tr.video-body__table-title
        %th
          title :
        %td
          video.content
      %tr.video-body__table-url
        %th
          URL :
        %td
          video.url

