.show-header {
  @include box-prop (calc(100vw - 180px), 140px, none);
  margin-left: 180px;
  border-bottom: double red 10px;
  .show-header__lists {
    @include flex_between (flex, space-between);
    .user-lists {
      width: 60%;
      display: flex;
      .user-name {
        height: 100%;
        margin: 0 20px;
        text-align: center;
        line-height: 140px;
        font-weight: 200;
      }
      .user-icon {
        padding: 20px 0;
        .user-btn {
          .user-image {
            width: 100px;
            height: 100px;
            text-align: center;
            border-radius: 50px;
            border: black 1px solid;
            box-shadow:  0 0 10px 10px rgba(rgb(14, 88, 185),0.2)inset;
          }
        }
      }
      .follow.icon {
        width: 100px; 
        height: 100%;
        position: relative;
        .unfollow {
          border-radius: 3px;
          box-shadow:  0 0 10px 10px rgba(rgb(14, 88, 185),0.2)inset;
          position: absolute;
          bottom: 20px;
          font-size: 9px;
          text-decoration: none;
          color: black;
        }
        .follow {
          @extend .unfollow; 
        }
      }
    }
    .btn-lists {
      height: 100%;
      
      .sign-in {
        @include box-prop (110px, 35px, "");
        line-height: 35px;
        text-align: center;
        font-size: 18px;
        border-radius: 10px;
        box-shadow:  0 0 10px 10px rgba(rgb(14, 88, 185),0.2)inset;
        margin: 7px 10px;
        padding: 0 10px;
        .btn {
          text-decoration: none;
          color: black;
        }
      }
      .write-message {
        @extend .sign-in;
      }
      .edit-account{
        @extend .sign-in;
      }
    }
  }
}
.show-body {
    @include box-prop (calc(100vw - 360px), calc(100vh - 100px), none);
    margin-left: 180px;
    position: relative;
    .following-box {
      @include box-prop (100%, calc(100vh - 100px), none);
      overflow: scroll;
      .my-image-items {
        @include box-prop (12.5%, auto, none);
        font-size: 20px;
        float: left;
        margin: 15px 10px 0;
        .follow-btn {
          .my-image-items__icon {
            text-align: center;
            .following-image {
              @include box-prop (140px, 140px, none);
              box-shadow: 0 0 10px 10px rgba(231, 128, 11, 0.3);
            }
          } 
        }
      }
    }
    .favorite-box{
      @include box-prop (100%, 50%, none);
      overflow: scroll;
      position: absolute;
      bottom: 0;
        .my-image-items {
          @include box-prop (12.5%, auto, none);
          font-size: 20px;
          float: left;
          margin: 15px 10px 0;
          .favorite-btn {
            .my-image-items__icon {
              text-align: center;
              .users-image {
                @include box-prop (140px,  140px, none);
                border-radius: 70px;
                box-shadow:  0 0 10px 10px rgba(rgb(14, 88, 185),0.2);
              }
            } 
          }
        }
      }
}