.video-wrapper {
  @include box-prop (calc(100vw - 360px), 100vh, none);
  margin: 0 180px;
  
  .video-header {
    @include box-prop (100%, 140px, noen);
    border-bottom: double red 10px;
    font-size: 40px;
    font-size: 40px;
    text-align: center;
    line-height: 140px;
  }
  .video-body {
    @include box-prop (100%, calc(100vh - 60px), none);
    
    padding: 20px;
    &__group {
      padding: 0.5em 1em;
      color: #232323;
      background: #fff8e8;
      border-left: solid 10px #ffc06e;
      display: flex;
      .user-icon {
        @include box-prop (72px, 72px, none);
        line-height: 72px;
        text-align: center;
        margin: 10px;
        .btn {
          text-decoration: none;
          color: black;
          .user-image {
            @include box-prop (72px, 72px, none);
            text-align: center;
            border-radius: 36px;
            box-shadow:  0 0 10px 10px rgba(rgb(14, 88, 185),0.2)inset;
          }
        }
      }
      %table{
        width: 60px;
        margin: 20px;
        
        %tr {
          display: flex;
          // %th {
          // }
          // %td {
          // }
        }
      }
      .video-body__table {
        margin: 10px;
      }
    }
    
  }
  
}
